* {
	padding: 0;
	box-sizing: border-box;
}

body {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

}

h2 {

    font-size: xx-large;
	letter-spacing: 5px;

}

.poke-container {

	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokedex {
	
	margin: 10px;
	padding: 20px;
	text-align: center;
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);

}

.pokedex .img-div {
	
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 119px;
	height: 119px;
	border-radius: 45%;

}

.pokedex .img-div img {

	margin-top: 20px;
	max-width: 90%;

}

.pokedex .infos {

	margin-top: 21px;

}

.pokedex .number {
	
	font-size: 0.8em;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 5px 10px;
}

.pokedex .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}
