*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background-color: #666666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.main{
    height: 580px;
    display: flex;
}

nav{
    flex: 1;
    background-color: #7dbadc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

section{
    flex: 3;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

aside{
    flex: 1;
    background-color: #fb673b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #666666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}