
.wallpaper-bg{
    background-image: url('../image/wallpaper.jpg');
    background-position: left center;
    background-size: cover;
    color: #fff;
    text-align: center;
    
}

.screen-top{
    padding-top: 2em;

    h1{
        font-size: 2.5rem;
        margin: 0 0 0 0;
    }

    h2{
        font-size: 1.6rem;
        font-weight: normal;
        margin: 0 0 0 0;
    }

    h3{
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0 0 0 0;
    }
}

.screen-bottum{
    padding-top: 6em;

    h6{
        font-size: 1rem;
        margin: 0 0 0 0;
    }

}

.pattern-box{
    height: 100px;
    
    i{
        font-size: 10px;
    }
}


